
/* 
Author: Matthew Nemmer
Created: 2022-03-10
*/

body 
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar
{
    display:  inline-grid;
    grid-template-columns: auto auto auto auto 50%;
    grid-template-rows: auto;
    /*height: max-content;*/
    overflow: hidden;
    background-color: #303030;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar-tab
{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav-bar-tab:hover 
{
    background-color: #d0d0d0;
    color: black;
}

.active-tab
{
    background-color: #008822;
    color: white;
}

.title-tab
{
    grid-row: 1;
    grid-column: 1;
    grid-width: 140px;
    padding-left:20px;
    padding-right:20px;
    background-color: #88FF88;   
    color: #000000;
    font-size: 50px;
    border: 10px solid green;
    font-family: 'Brush Script MT', cursive;
}

.home-tab
{
  grid-row: 1;
  grid-column: 2;
}

.projects-tab
{
  grid-row: 1;
  grid-column: 3;
}

.about-tab
{
  grid-row: 1;
  grid-column: 4;
}

.main-container
{
    margin-top: 125px;
    margin-left:20px;
    margin-right:20px;
}


