
/* 
    Author: Matthew Nemmer
    Created: 2022-03-15
*/

@import 'main.css';


.settings-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 75%;
    gap: 0.25vw;
    
    background-color: var(--main-text-color);
    border: 0.25vw solid var(--main-text-color);
}


#value-selection
{
    background-color: var(--main-text-bg-color);
    padding: 1.5vw;
}


#current-values
{
    background-color: var(--main-text-bg-color);
    padding: 1.5vw;
}


input[type="radio"] 
{
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Chrome, Safari, Opera */
    transform: scale(1.25);
}

