<template>
    <div id="about-template">
        <div class="row p-2">
            <h3>Introduction</h2>
            <hr>
            <p>I have had a creative mind since I was young, and developed a passion for engineering, math, physics, and computer science while in high school. My efforts yielded me a full-tuition scholarship to Northern Arizona University. There, I continued to thrive academically while shaping into a well rounded adult. I have now graduated with a degree in computer science and am currently working as a web developer.</p>
        </div>

        <div class="row p-2 mt-3">
            <h3>Hobbies</h2>
            <hr>
            <p>In my free time, I have a number of hobbies and projects to keep me busy. I enjoy snowboarding, skateboarding, tinkering with circuitry and Arduino microcontrollers, working on coding projects, writing music, and playing video games.</p>
        </div>

        <div class="row p-2 mt-3">
            <h3>Education & Skills</h2>
            <hr>
            
            <h4>Bachelor of Science in Computer Science</h4>
            <p>
                I graduated from Northern Arizona University in 2022 with a Bachelor's degree in Computer Science.
            </p>
            
            <h4>Personal Traits</h4>
            <p>
                Leadership qualities, effective communicator, time management skills, fast-learner
            </p>

            <h4>Technical Abilities</h4>
            <p>
                I am highly skilled in regard to programming, critical thinking, and problem solving.
            </p>
        </div>
    </div>
</template>