<template>
    <footer id="footer-template" class="container py-5">
        <div class="row">
            <div class="col-12 col-md mb-5 ms-md-3">
                <a href="index.html" aria-label="Home page">
                    <img src="assets/img/matt-logo-light.svg" alt="Matt Nemmer logo" class="footer-logo">
                </a>
                <br>
                <small class="d-block text-muted mt-3">Developed by Matthew Nemmer</small>
            </div>
            <div class="col-6 col-md ms-md-3">
                <div class="text-white">Portfolio</div>
                <ul class="list-unstyled">
                    <li><a class="link-secondary" href="#web-development">Web Development</a></li>
                    <li><a class="link-secondary" href="#stem-education">STEM Education</a></li>
                </ul>
            </div>
            <div class="col-6 col-md ms-md-3">
                <div class="text-white">Other</div>
                <ul class="list-unstyled">
                    <li><a class="link-secondary" href="#about">About</a></li>
                    <li><a class="link-secondary" href="#settings">Settings</a></li>
                    <li><a class="link-secondary" href="#social">Social Media</a></li>
                </ul>
            </div>
        </div>
    </footer>
</template>