<template>
    <header id="header-template" class="sticky-top navbar-bg">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/matt-logo-light.svg" alt="Matt Nemmer Logo" class="navbar-logo mx-2">
                    Matt Nemmer
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mb-2 mb-md-0 me-auto">
                        <li>
                            <div class="nav-item">
                                <a class="nav-link active" href="#home"><img src="assets/img/home-icon.png" class="img-icon mx-2">Home</a>
                            </div>
                        </li>
                        <li>
                            <div class="nav-item">
                                <a class="nav-link" href="#about"><img src="assets/img/about-icon.png" class="img-icon mx-2">About</a>
                            </div>
                        </li>
                        <li>
                            <div class="nav-item">
                                <a class="nav-link" href="#portfolio"><img src="assets/img/projects-icon.png" class="img-icon mx-2">Portfolio</a>
                            </div>
                        </li>
                        <li>
                            <div class="nav-item">
                                <a class="nav-link" href="#settings"><img src="assets/img/settings-icon.png" class="img-icon mx-2">Settings</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>