<template>
    <div id="portfolio-template">
        <div id="web-development" class="row p-2">
            <h3>Web Development</h3>
            <hr>
            <div class="col-lg-4 my-2">
                <img class="img-album mb-2 mt-3 img-dark-mode-invert" src="assets/img/matt-logo-dark.svg" alt="Matt Nemmer website logo">
                <h4>This Website</h4>
                <p><a class="link" href="https://matt-nemmer.github.io/">My personal website</a> has gone through many changes over the years. What you're seeing now is version 3, which is a simplified single-page site.</p>
                <a class="btn btn-outline-primary" href="../v1" target="_blank">See v1</a>
                <a class="btn btn-outline-primary" href="../v2" target="_blank">See v2</a>
            </div>
            <div class="col-lg-4 my-2">
                <img class="img-album mb-2 mt-3 bg-white p-2" src="assets/img/nau-its-logo.png" alt="Northern Arizona University information technology services log">
                <h4>Northern Arizona University</h4>
                <p>I have been working professionally as a web developer for several years now. My team develops and maintains custom WordPress installations that support thousands of NAU's pages.</p>
                <a class="btn btn-outline-primary" href="https://nau.edu" target="_blank">Visit NAU's main site</a>
            </div>
            <div class="col-lg-4 my-2">
                <img class="img-album mb-1 mt-3" src="assets/img/pizza-guy-logo.png" alt="Pizza Guy Logo">
                <h4>The Pizza Guy</h4>
                <p>I developed The Pizza Guy's website after offering my services to the store owner. The Pizza Guy is a Flagstaff local business that has been serving pizza, wings, and more for over 20 years.</p>
                <a class="btn btn-outline-primary" href="https://flagstaffpizzaguy.github.io/" target="_blank">View The Pizza Guy's site</a>
            </div>
        </div>

        <div id="stem-education" class="row p-2 mt-3">
            <h3>STEM Education</h3>
            <hr>
            <div class="col-lg-4 my-2">
                <img class="img-album mb-3 bg-white" src="assets/img/concorde-education-logo.svg" alt="Concorde Education logos">
                <h4>Programming Teacher</h4>
                <p>As a contract position under Concorde Education, I was an after-school programming teacher at BASIS Flagstaff charter school. I held one lesson per week that focused on video game coding using the Scratch programming language.</p>
            </div>
            <div class="col-lg-4 my-2">
                <img class="img-album mb-3 mt-4 bg-white p-2" src="assets/img/nau-cstl-logo.png" alt="Northern Arizona University Center for Science, Teaching, and Learning logo">
                <h4>Robotics and Drone Specialist</h4>
                <p>As the NAU CSTL's Robotics and Drone Specialist, I assisted the department with STEM education relating to robotics, electronics, and programming in various ways. I also helped write a programming curriculum for the Diné tribe in Arizona.</p>
            </div>
            <div class="col-lg-4 my-2">
                <img class="img-album mb-3 mt-3" src="assets/img/graded-paper-clipart.svg" alt="Clipart of a pen and paper, with the letter grade A+ at the top of the paper.">
                <h4>Calculus and Computer Science Grader</h4>
                <p>I assisted professors at Northern Arizona University with grading coursework and tests. This required having an exceptional understanding of both Calculus and Computer Science.</p>
            </div>
        </div>
        
        <div id="graphic-design" class="row p-2 mt-3">
            <h3>Graphic Design</h3>
            <hr>
            <div class="col-lg-4 my-2">
                <img class="img-album mb-3" src="assets/img/nau-drone-club-logo.png" alt="NAU Drone Club logo">
                <h4>Logo Creation</h4>
                <p>I have created several logos in the past. This includes the NAU Drone Club's logo, my own logo, and a few others.</p>
            </div>
            <div class="col-lg-4 my-2">
                <img class="img-album mb-3 mt-3" src="assets/img/biomapper-tech-chart.PNG" alt="Chart showing technologies used for project Biomapper">
                <h4>Charts, Diagrams, and Graphics</h4>
                <p>I am capable of creating technical charts and graphics. These supporting visuals can be valuable when interpreting data or trying to understand some process.</p>
            </div>
            <div class="col-lg-4 my-2">
                <img class="img-album mb-2 mt-3" src="assets/img/biomapper-video-screenshot.png" alt="Screenshot of Biomapper Elevator Pitch video">
                <h4>Video Production</h4>
                <p>Using various video editing tools I am able to create stunning videos. <a class="link" href="https://youtu.be/IR0fP5RAiJM" target="_blank">This one</a> is an "elevator pitch" for mapping software I helped develop.</p>
            </div>
        </div>
    </div>
</template>