<template>
    <div id="social-template" class="container px-4">
        <div class="row row-cols-2 row-cols-sm-4 row-cols-md-6 mt-3">
            <div class="col">
                <a href="https://www.linkedin.com/in/matthew-nemmer/" target="_blank">
                    <img src="assets/img/social-logos/linkedin.svg" class="social-logo" alt="LinkedIn" title="LinkedIn" />
                </a>
            </div>

            <div class="col">
                <a href="https://github.com/matt-nemmer" target="_blank">
                    <img src="assets/img/social-logos/github.svg" class="social-logo" alt="GitHub" title="GitHub" />
                </a>
            </div>

            <div class="col">
                <a href="https://twitter.com/matt_nemmer" target="_blank">
                    <img src="assets/img/social-logos/twitter.svg" class="social-logo" alt="Twitter" title="Twitter" />
                </a>
            </div>

            <div class="col">
                <a href="https://www.youtube.com/channel/UC9K5B_5mXjOXdigeVi3DdZQ" target="_blank">
                    <img src="assets/img/social-logos/youtube.svg" class="social-logo" alt="YouTube" title="YouTube" />
                </a>
            </div>

            <div class="col">
                <a href="https://www.facebook.com/mattnemmer1" target="_blank">
                    <img src="assets/img/social-logos/facebook.svg" class="social-logo" alt="Facebook" title="Facebook" />
                </a>
            </div>

            <div class="col">
                <a href="https://www.instagram.com/matt_nemmer/" target="_blank">
                    <img src="assets/img/social-logos/instagram.svg" class="social-logo" alt="Instagram" title="Instagram" />
                </a>
            </div>
        </div>
    </div>
</template>